<div class="textwidget margin-top-30">
    {{#if firstName}}
    <div id="greeting" style="float:right">
      <strong>Hi, {{firstName}}!</strong>
      <a href="/users/logout">Log out</a>
    </div>
    {{/if}}
</div>